In [1]:
import sys
sys.path.append('..')
import ScraperFC as sfc # import local scraperfc
import traceback
import pandas as pd
import numpy as np

In [2]:
scraper = sfc.FiveThirtyEight()
try:
    data2018 = scraper.scrape_matches(2018, 'EPL')
    print('2018 done')
    data2019 = scraper.scrape_matches(2019, 'EPL')
    print('2019 done')
except:
    traceback.print_exc()
scraper.close()

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 105.0.5195
[WDM] - Get LATEST driver version for 105.0.5195
[WDM] - Driver [C:\Users\Owner\.wdm\drivers\chromedriver\win32\105.0.5195.52\chromedriver.exe] found in cache

2018 done
2019 done

In [3]:
data2018

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2018,2017-08-11,2411,Barclays Premier League,Arsenal,Leicester City,78.18,61.77,0.6430,0.1563,...,59.9,18.8,4.0,3.0,2.62,1.19,2.89,0.99,4.20,3.15
1,2018,2017-08-12,2411,Barclays Premier League,Watford,Liverpool,54.25,77.15,0.2193,0.5384,...,31.7,57.7,3.0,3.0,1.99,2.36,0.71,1.67,3.15,3.15
2,2018,2017-08-12,2411,Barclays Premier League,Southampton,Swansea City,63.35,57.72,0.5044,0.2296,...,18.9,25.5,0.0,0.0,2.50,0.29,2.95,0.41,0.00,0.00
3,2018,2017-08-12,2411,Barclays Premier League,Crystal Palace,Huddersfield Town,59.47,44.57,0.6000,0.1606,...,32.4,43.5,0.0,3.0,0.99,0.53,1.24,0.79,0.00,2.95
4,2018,2017-08-12,2411,Barclays Premier League,West Bromwich Albion,AFC Bournemouth,56.21,58.25,0.4246,0.3019,...,31.4,26.4,1.0,0.0,1.26,0.45,1.41,1.15,1.05,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2018,2018-05-13,2411,Barclays Premier League,Liverpool,Brighton and Hove Albion,87.19,56.04,0.8365,0.0398,...,100.0,0.0,4.0,0.0,4.10,0.05,3.00,0.27,3.81,0.00
376,2018,2018-05-13,2411,Barclays Premier League,Manchester United,Watford,78.32,57.86,0.6745,0.1133,...,0.0,0.0,1.0,0.0,0.54,0.68,0.92,1.48,1.05,0.00
377,2018,2018-05-13,2411,Barclays Premier League,Burnley,AFC Bournemouth,59.71,56.15,0.4800,0.2476,...,0.0,0.0,1.0,2.0,1.42,1.58,1.55,1.17,1.05,2.10
378,2018,2018-05-13,2411,Barclays Premier League,Tottenham Hotspur,Leicester City,83.63,62.10,0.7473,0.0778,...,0.0,0.0,5.0,4.0,1.98,1.34,1.46,1.81,5.25,4.20
379,2018,2018-05-13,2411,Barclays Premier League,Huddersfield Town,Arsenal,48.81,80.86,0.1520,0.6412,...,0.0,0.0,0.0,1.0,1.49,1.98,1.85,1.41,0.00,1.05

In [4]:
data2019

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2019,2018-08-10,2411,Barclays Premier League,Manchester United,Leicester City,82.66,69.64,0.6400,0.1385,...,60.3,21.3,2.0,1.0,1.50,1.72,0.71,1.80,1.78,1.05
1,2019,2018-08-11,2411,Barclays Premier League,Newcastle,Tottenham Hotspur,67.21,85.75,0.2010,0.5565,...,23.8,57.8,1.0,2.0,1.08,2.15,1.60,1.50,1.05,2.10
2,2019,2018-08-11,2411,Barclays Premier League,Huddersfield Town,Chelsea,60.20,84.39,0.1644,0.5945,...,36.1,58.8,0.0,3.0,0.45,2.16,0.94,1.35,0.00,2.90
3,2019,2018-08-11,2411,Barclays Premier League,Watford,Brighton and Hove Albion,66.07,63.08,0.4693,0.2470,...,29.5,33.6,2.0,0.0,1.66,0.32,2.11,0.98,2.10,0.00
4,2019,2018-08-11,2411,Barclays Premier League,AFC Bournemouth,Cardiff City,62.75,59.47,0.4886,0.2451,...,36.3,40.0,2.0,0.0,2.20,0.96,2.28,1.16,1.58,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019,2019-05-12,2411,Barclays Premier League,Southampton,Huddersfield Town,66.77,50.81,0.4893,0.2390,...,0.0,0.0,1.0,1.0,0.96,1.02,1.38,0.48,1.05,1.05
376,2019,2019-05-12,2411,Barclays Premier League,Burnley,Arsenal,66.06,77.72,0.3295,0.4169,...,0.0,0.5,1.0,3.0,1.71,2.86,2.23,2.25,1.05,2.63
377,2019,2019-05-12,2411,Barclays Premier League,Crystal Palace,AFC Bournemouth,70.33,67.16,0.4222,0.3220,...,0.0,0.0,5.0,3.0,2.69,2.17,1.29,1.77,4.99,3.15
378,2019,2019-05-12,2411,Barclays Premier League,Leicester City,Chelsea,74.79,84.48,0.3403,0.3888,...,0.0,0.0,0.0,0.0,0.42,1.44,0.89,1.71,0.00,0.00
379,2019,2019-05-12,2411,Barclays Premier League,Watford,West Ham United,67.32,65.35,0.4209,0.3211,...,0.0,0.0,1.0,4.0,2.07,2.86,2.24,1.91,1.05,3.60